button {
    border: none;
    background: transparent;
    cursor: pointer;
}

button:focus {
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
}

input[type=text] {
    border: none;
    border-bottom: 1px solid rgb(239, 238, 241);
    outline: none;
}

input[type=text]::placeholder {
    color: rgb(197, 201, 216);
}

body {
    color: rgb(39, 45, 71);
    height: 100vh;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.4);
}

.loading::before,
.loading::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 0;
    height: 0;
    background: #000000;
    border-radius: 100%;
    animation: loading 1.2s linear infinite;
}

.loading::after {
    animation-delay: 0.6s;
}

@keyframes loading {
    from {
        width: 0;
        height: 0;
        opacity: 1;
    }
    to {
        width: 100px;
        height: 100px;
        opacity: 0;
    }
}

header {
    height: 10%;
    display: block;
}

main {
    height: 90%;
    display: flex;
}

main .control-bar {
    flex: 0 0 27%;
}

main .control-bar .add-song {
    width: 100%;
    height: 14%;
    color: rgb(39, 45, 71);
    border: 1.2px solid rgb(239, 238, 241);
    border-right: none;
    box-shadow: 0 5px 4px -4px rgb(239, 238, 241);
    text-align: start;
    padding-left: 40px;
    font-weight: 900;
    letter-spacing: 4px;
}

main .control-bar .list-wrap {
    height: 72%;
    overflow: hidden;
}

main .control-bar .song-list {
    list-style: none;
    width: calc(100% + 18px);
    height: 100%;
    background: rgb(241, 242, 247);
    margin-bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

main .control-bar .song-list>li {
    height: 16.667%;
    border-bottom: 1.2px solid rgb(239, 238, 241);
    cursor: pointer;
    color: rgb(39, 45, 71);
    padding-left: 20%;
    font-size: 13px;
    font-weight: 900;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: all 0.2s;
}

main .control-bar .song-list>li:last-child {
    border-bottom: none;
}

main .control-bar .song-list>li:hover,
main .control-bar .song-list>li.active {
    background: #ffffff;
}

main .control-bar .upload {
    height: 14%;
    border: 1.2px solid rgb(239, 238, 241);
    border-right: none;
}

main .control-bar .upload .pickfiles {
    width: 100%;
    height: 100%;
    color: rgb(197, 201, 216);
}

main .content {
    flex: 0 0 73%;
    border: 1.2px solid rgb(239, 238, 241);
    display: flex;
}

main .content .song-info {
    width: 60%;
    margin: auto;
}

main .content .song-info>input {
    width: 100%;
    padding: 8px 12px;
    margin: 20px 0;
}

main .content .song-info>button {
    width: 100%;
    color: rgb(39, 45, 71);
    background: rgb(241, 242, 247);
    font-weight: 900;
    padding: 12px 0;
    letter-spacing: 4px;
}