html {
    font-size: 100px;
}

body {
    font: .14rem/1.5 Helvetica, sans-serif;
    color: #333333;
    background: #fcfcfd;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h2,
h4,
p,
a {
    margin: 0;
}

a {
    color: #333333;
}

a:hover,
a:active,
a:visited,
a:focus {
    color: #333333;
    text-decoration: none;
}

.hidden {
    display: none;
}

.sprite{
    background: url('//s3.music.126.net/m/s/img/index_icon_2x.png') no-repeat;
    background-size: 166px 97px;
}